@theme inline {
  --pattern-background-color: oklch(from var(--background) calc(l + 1) c h);
  --pattern-primary-color: var(--color-violet-300);
  --pattern-tertiary-color: var(--color-cyan-200);
  --pattern-accent-color: var(--color-red-400);
  --pattern-secondary-color: var(--color-orange-200);

  --pattern-overlay-color: var(--background);
  --pattern-overlay-opacity: 0;
  --pattern-overlay-inactive-opacity: 0;
  --pattern-transition-duration: 0.8s;
  --pattern-transition-delay: 0.6s;

  --pattern-outer-fill-color: var(--pattern-primary-color);
  --pattern-pupil-fill-color: var(--pattern-accent-color);
  --pattern-ring-fill-color: var(--pattern-secondary-color);
  --pattern-tears-fill-color: var(--pattern-tertiary-color);

  --pattern-outer-active-fill-color: oklch(from var(--pattern-outer-fill-color) calc(l - 0.1) c h);
  --pattern-pupil-active-fill-color: oklch(from var(--pattern-pupil-fill-color)calc(l - 0.1) c h);
  --pattern-ring-active-fill-color: oklch(from var(--pattern-ring-fill-color) calc(l - 0.1) c h);
  --pattern-tears-active-fill-color: oklch(from var(--pattern-tears-fill-color) calc(l - 0.1) c h);
}

@layer base {
    .dark, [data-mode='dark']{
    --pattern-background-color: oklch(from var(--pattern-background-color) calc(l - 1) c h);
    --pattern-primary-color: oklch(from var(--pattern-primary-color) calc(l + 0.8) c h);
    --pattern-tertiary-color: oklch(from var(--pattern-tertiary-color) calc(l + 0.6) c h);
    --pattern-accent-color: oklch(from var(--pattern-accent-color) calc(l + 0.4) c h);
    --pattern-secondary-color: oklch(from var(--pattern-secondary-color) calc(l + 0.2) c h);

    --pattern-overlay-color: var(--background);
    --pattern-overlay-opacity: 0.8;
    --pattern-overlay-inactive-opacity: 0.8;

    --pattern-transition-duration: 0.8s;
    --pattern-transition-delay: 0.6s;

    --pattern-outer-fill-color: var(--pattern-primary-color);
    --pattern-pupil-fill-color: var(--pattern-accent-color);
    --pattern-ring-fill-color: var(--pattern-secondary-color);
    --pattern-tears-fill-color: var(--pattern-tertiary-color);

    --pattern-outer-active-fill-color: oklch(from var(--pattern-outer-fill-color) l c calc(h + 180));
    --pattern-pupil-active-fill-color: oklch(from var(--pattern-pupil-fill-color) l c calc(h + 180));
    --pattern-ring-active-fill-color: oklch(from var(--pattern-ring-fill-color) l c calc(h + 180));
    --pattern-tears-active-fill-color: oklch(from var(--pattern-tears-fill-color) l c calc(h + 180));
  }
}