@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@config '../../../tailwind.config.mjs';

@custom-variant dark (&:is(.dark, .dark *, [data-mode="dark"], [data-mode="dark"] * ));

/* Styles required for PDFs */
/* @import 'react-pdf/dist/Page/AnnotationLayer.css';
@import 'react-pdf/dist/Page/TextLayer.css'; */


/* Styles for the .pdf flipbopok */
@import './themes/pdf-flipbook.css';

/* Default/Fallback colour theme */
@import './themes/default.css';

/* Eyes wallpaper */
@import './themes/eyes-wallpaper.css';

/* IMPORT CUSTOM THEMES HERE */
@import './themes/fii-one.css';
@import './themes/purple.css';

/* @import './themes/blue.css'; */
/* @import './themes/minimal-red.css'; */
/* @import './themes/minimal-blue.css'; */
/* @import './themes/minimal-green.css'; */
/* @import './themes/minimal-orange.css'; */
/* @import './themes/minimal-rose.css'; */
/* @import './themes/minimal-violet.css'; */
/* @import './themes/minimal-yellow.css'; */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius: var(--radius);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border rounded-(--radius) outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }
}

/** 
  EYES WALLPAPER
*/
#eyesBackgroundContainer {
  border-radius: 0;
  #wallpaperOverlay {
    opacity: var(--pattern-overlay-opacity);
  }

  #wallpaperBase {
    fill: var(--pattern-background-color);
  }

  [theme-group='outer'] {
    fill: var(--pattern-outer-fill-color);
  }
  [theme-group='pupil'] {
    fill: var(--pattern-pupil-fill-color);
  }
  [theme-group='ring'] {
    fill: var(--pattern-ring-fill-color);
  }
  [theme-group='tears'] {
    fill: var(--pattern-tears-fill-color);
  }

  #activeTile {
    /* Within the active wallpaper tile, groups shouldn't be visible unless they are active */
    :not([cursor-active='true']) > path {
      opacity: 0;
      transition:
        opacity var(--pattern-transition-duration) ease-out var(--pattern-transition-delay),
        fill var(--pattern-transition-duration) ease-out var(--pattern-transition-delay);
    }

    /* When the group is active, apply the active fill colors to the paths in that group */
    [cursor-active='true'] {
      > path {
        opacity: 1;
        transition: none;
      }
      [theme-group='outer'] {
        fill: var(--pattern-outer-active-fill-color);
      }
      [theme-group='pupil'] {
        fill: var(--pattern-pupil-active-fill-color);
      }
      [theme-group='ring'] {
        fill: var(--pattern-ring-active-fill-color);
      }
      [theme-group='tears'] {
        fill: var(--pattern-tears-active-fill-color);
      }
    }
  }
}

/* Protect react-pdf text layer from Tailwind's Preflight reset */
.react-pdf__Page__textContent span {
  line-height: 1 !important;
  margin: 0 !important;
  padding: 0 !important;
}




/* @theme inline {
  --pattern-background-color: oklch(from var(--background) calc(l + 1) c h);
  --pattern-primary-color: var(--color-violet-300);
  --pattern-tertiary-color: var(--color-cyan-200);
  --pattern-accent-color: var(--color-red-400);
  --pattern-secondary-color: var(--color-orange-200);

  --pattern-overlay-color: var(--background);
  --pattern-overlay-opacity: 0;
  --pattern-overlay-inactive-opacity: 0;
  --pattern-transition-duration: 0.8s;
  --pattern-transition-delay: 0.6s;

  --pattern-outer-fill-color: var(--pattern-primary-color);
  --pattern-pupil-fill-color: var(--pattern-accent-color);
  --pattern-ring-fill-color: var(--pattern-secondary-color);
  --pattern-tears-fill-color: var(--pattern-tertiary-color);

  --pattern-outer-active-fill-color: oklch(from var(--pattern-outer-fill-color) calc(l - 0.1) c h);
  --pattern-pupil-active-fill-color: oklch(from var(--pattern-pupil-fill-color)calc(l - 0.1) c h);
  --pattern-ring-active-fill-color: oklch(from var(--pattern-ring-fill-color) calc(l - 0.1) c h);
  --pattern-tears-active-fill-color: oklch(from var(--pattern-tears-fill-color) calc(l - 0.1) c h);
}

@layer base {
    .dark, [data-mode='dark']{
    --pattern-background-color: oklch(from var(--pattern-background-color) calc(l - 1) c h);
    --pattern-primary-color: oklch(from var(--pattern-primary-color) calc(l + 0.8) c h);
    --pattern-tertiary-color: oklch(from var(--pattern-tertiary-color) calc(l + 0.6) c h);
    --pattern-accent-color: oklch(from var(--pattern-accent-color) calc(l + 0.4) c h);
    --pattern-secondary-color: oklch(from var(--pattern-secondary-color) calc(l + 0.2) c h);

    --pattern-overlay-color: var(--background);
    --pattern-overlay-opacity: 0.8;
    --pattern-overlay-inactive-opacity: 0.8;

    --pattern-transition-duration: 0.8s;
    --pattern-transition-delay: 0.6s;

    --pattern-outer-fill-color: var(--pattern-primary-color);
    --pattern-pupil-fill-color: var(--pattern-accent-color);
    --pattern-ring-fill-color: var(--pattern-secondary-color);
    --pattern-tears-fill-color: var(--pattern-tertiary-color);

    --pattern-outer-active-fill-color: oklch(from var(--pattern-outer-fill-color) l c calc(h + 180));
    --pattern-pupil-active-fill-color: oklch(from var(--pattern-pupil-fill-color) l c calc(h + 180));
    --pattern-ring-active-fill-color: oklch(from var(--pattern-ring-fill-color) l c calc(h + 180));
    --pattern-tears-active-fill-color: oklch(from var(--pattern-tears-fill-color) l c calc(h + 180));
  }
} */